{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}我的博客{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin-top: 70px;">
    <div class="page-header">
    <h1>{{ user.username }}</h1>
    {% if user.name or user.location %}
    <p>
        {% if user.location %}
         From <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
        {% endif %}
    {% endif %}
    </p>
    {% if user.about_me %}
        <p>{{ user.about_me }}</p>
    {% endif %}
    <p>
        {% if user == current_user %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">编辑资料</a>
        {% endif %}
    </p>
    <p>
        {{ wtf.quick_form(form) }}
    </p>
    </div>
    </div>
        <div class="col-md-9">
            <div class="list-group">
                {% for post in posts %}
                    <div class="list-group-item" style="border: 0;">

                        <a href="{{ url_for('main.article',username=post.author.username,title=post.title) }}"><h4>{{ post.title }}</h4></a>
                        <p>
                            <small>{{ post.timestamp }}</small>
                            <small>点击量: <span class="badge">20</span></small>
                        </p>
                        <p class="text-muted">{{ post.body }}
                        </p>
                        <p>
                            <span class="badge">关键字</span>
                            <span class="badge">关键字</span>
                            <span class="badge">关键字</span>
                        </p>
                        {% endfor %}
                    </div>
            </div>
                    <div style="border: 1px dashed #ddd;"></div>
              <!-- 分页 -->
                <div class="text-center">
                    <ul class="pagination">
                    <!-- 向前符号 -->
                    <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}